{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <h1>Program index</h1>
    <div class="media">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Slug</th>
            <th>Summary</th>
            <th>Poster</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.id }}</td>
                <td>{{ program.title }}</td>
                <td>{{ program.slug }}</td>
                <td>{{ program.summary }}</td>
                <td><img src="{{ program.poster }}" alt="image"></td>
                <td>
                    <a class="btn btn-primary text-white" href="{{ path('program_show', {'slug': program.slug}) }}">show</a>
                    <a class="btn btn-danger text-white mt-2" href="{{ path('program_edit', {'slug': program.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a class="btn btn-primary text-white" href="{{ path('program_new') }}">Create new</a>
{% endblock %}
