{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}


{% block body %}
    <h1 class="mt-3 mb-4">les 3 dernières séries de la catégory : {{ category }} </h1>

    {% for program in programs %}
        <div>
            <h2>{{ program.id }} - {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }} ">Retour à l'acceuil</a><br>
    <a href="{{ path('show', { 'slug': "walking-dead" }) }}">
        Testing show() method from WildController with a real program s slug.
    </a>
    <br>
    <a href="{{ path('wild_index') }}">
        Testing index() method from WildController to view all programs.
    </a>

{% endblock %}
