{% extends 'base.html.twig' %}

{% block body %}
    <div class="container row mt-3" xmlns="http://www.w3.org/1999/html">
        <h1>Saison {{ season.year }} : {{ season.program.title }} </h1>
    </div>
    <div class="container row mt-4">
        <h1>Episode {{ episode.number}} : {{ episode.title }}</h1>
        <p class="mt-4">{{ episode.synopsis }}</p>
    </div>
    <a href="{{ path('show_season', { 'id': season.id }) }} " style="color: black">Voir le détail de la saison</a><br>
    <a href="{{ path('show_program', { 'id': program.id }) }} " style="color: black">Voir le détail du programme</a>


{% endblock %}